# Proyecto en Sublime Text
form-virket.sublime-project
form-virket.sublime-workspace

# Ignorando archivos BASH
*.sh

# Ignorando archivos de log
error_log
*.log

conexion.php
error_log
articulos/uploaded_files
*.zip
